dataset/training
*/pycache
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
ENV/
.env.local
.env
.env.*rc
.idea/
.vscode/
.DS_Store
*.sqlite3
*.log
coverage/
htmlcov/    
.tox/
.nox/
.cache/
.pytest_cache/
models/